@charset "utf-8";

.canvas { overflow: auto; }

.nav-Alphabet-Source { padding: 10px 0; }
.nav-Alphabet-Source div { padding: 10px 0 0 0; border-bottom: 1px solid #eee; }
.nav-Alphabet-Source div>strong { font-size: 30pt; color: #A00; }
.nav-Alphabet-Source div>ul { }
.nav-Alphabet-Source div>ul li { min-width: 160px; line-height: 22px; padding: 0 0 4px 0; font-size: 14px; }

.table th { min-width: 60px; }